<div class="text-center">
  <h2>{{note.title}}</h2>
  <p>{{note.description}}</p>
  <p>Created by {{user.username}} on {{format_date date_created}}</p>
  <p>
    <button class="btn btn-primary">BIG BUTTON</button>
  </p>
</div>