<div class="edit-post-container">
  <h2>EDIT POST</h2>
  <form class="edit-post-form">
    <label for="post-title">
      Title:
    </label>
    <br />
    <textarea id="post-title" contenteditable="true" name="post-title" rows="1" cols="75">
      {{title}}
    </textarea>
    <br />
    <label for="post-content">
      Content:
    </label>
    <br />
    <textarea id="post-content" name="post-content" rows="5" cols="75">
      {{content}}
    </textarea>
    <br />
    <br />
    <button type="submit" value="Submit">
      Update
    </button>
    <div class="col-md-4">
      <button class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
    </div>
  </form>
</div>

<script src="/js/editpost.js"></script>