/* Set my font-sizing so rem1=10px for easier calculation */
html {
  font-size: 62.5%;
}

:root {
  --base-color: rgb(28, 65, 77);
  --secondary-color: white;
}

.body-container {
  background-color :rgb(255, 239, 186);
}

/* *NAVBAR SECTION* */
#nav-container {
  display: block;
  background-color: var(--base-color);
  padding: 2%;
}
.navbar, .nav-link {
  color: white;
}
#active-link {
  color:white;
}
.page-title {
  padding: 2rem;
  margin-left: 1.2rem;
}


/* *POSTS & COMMENTS STYLINGS* */
.homepost-container,
.comment-post-container,
.comment-container,
.new-comment-container {
  border-style: solid;
  border-color:var(--base-color);
  margin-bottom: 1.5rem;
  max-width: 100%;
}

.new-comment-container{
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  max-width: 100%;
}

.homepost-header,
.comment-post-header,
.comment-header,
.new-comment-header {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  line-height: 3rem;
  background-color: var(--base-color);
}

.homepost-title,
.comment-post-title {
  text-align: left;
  color:var(--secondary-color);
  text-decoration: none;
  height: 3rem;
  line-height: 3rem;
}

.homepost-author,
.comment-post-author,
.comment-author {
  color:var(--secondary-color);
  text-align: right;
  height: 3rem;
  line-height: 3rem;
}

.homepost-content,
.comment-post-content,
.comment-content,
.new-comment-title {
  padding-top: .5rem;
  padding-left: .5rem;
  display: flex;
  text-align: justify;
  color:var(--base-color);
  font-size: 1.6rem;
}


/* *DASHBOARD SECTION* */
.dash-post,
.dash-title,
.dash-date {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  line-height: 3rem;
  background-color: gray;
  color: white;
}

/* *BUTTONS* */
.newpost-btn-div {
  display: flex;
  justify-content: center;
}
#signup-btn,
#login-btn,
#newpost-btn,
#add-comment {
  color: white;
}

.add-comment-btn {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #c6eafb;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #fce0d8;
  text-decoration: underline;
}

